.navbar{
    border-bottom: solid 5px #098AC2;
}
header{
    height: 100vh;
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) , url(../images/home.jpg);
background-position: center;
background-size: cover;
padding-top: 120px;
}
